.tasks-footer {
  position: sticky;
  bottom: 0;
  background: white;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}